pkg_installer/downloads/**
pkg_installer/offlinePkg/**
!pkg_installer/downloads/placeholder
!pkg_installer/offlinePkg/placeholder
pkg_installer/install.db
.vscode/
jsTests/*
db_credentials.php
sp_metadata.xml
.DS_Store
oasys*installer*.zip
oasys*snapshot*.zip
oasys*fullBackup*.zip
temp*.out
desktop.ini
.idea/
tmp/
assets/
.*
!.gitignore
jsconfig.json
!.htaccess
*.orig
/landingPages/*/*
cl_key.txt
node_modules/
package*.json
media/[0-9]*
!/.jshintrc
composer.json
composer.lock
**/vendor
!inc/domPDF/vendor/
modules/*
!modules/README.md
*.ini
customContent/*
!customContent/.gitkeep
