<div id="header">
    <div id="headerText"></div>
    <div id="headerButtons"></div>
</div>
<div id="welcomeContainer">
    <div id="welcomeText"></div>
</div>
<div id="currentTestsListContainer">
    <div class="testlistTitleContainer">
        <div class="line"></div>
        <div id="currentTestslistTitle" class="testsListTitle"></div>
        <div class="line"></div>
    </div>
    <div class="testItemTitle">
        <div class="testItemTitleRight">filled</div>
    </div>
    <div id="currentTestsList" class="testList"></div>
    <div class="noTestAvailablePlaceholder"></div>
    <div id="pastTestsListContainer">
        <div class="testlistTitleContainer">
            <div class="line"></div>
            <div id="pastTestslistTitle" class="testsListTitle"></div>
            <div class="line"></div>
        </div>
        <div class="testItemTitle">
            <div class="testItemTitleRight"></div>
        </div>
        <div id="pastTestsList" class="testList"></div>
    </div>
</div>