<div id="login_main" style="visibility: hidden">
    <img id="logoOASYS" src="images/OASYS_logo_vertical_color-10.svg">
    <form id="formDiv">
        <div id="languageButtons"></div>
        <p>
            <label for="tfLogin" id='lbl_login'>@@login@@</label>
            <input tabindex="1" id="tfLogin" type="text" name="login" autocomplete="off"
                   autocapitalize="none" spellcheck="false">
        </p>
        <p>
            <label for="tfPassword" id='lbl_password'>@@password@@</label>
            <input tabindex="2" id="tfPassword" type="password" name="password" autocomplete="off"
                   autocapitalize="none" spellcheck="false">
        </p>
    </form>
    <div id="LogoLUCET"><img src="images/LUCET.svg"></div>
</div>