@import url("../../../inc/fonts/opensans.css");

body {
	height: 100vh;
	width: 100vw;
	box-sizing: border-box;
	padding: 10px 30px;
	margin:  0;
	font-family: "Open Sans", sans-serif;
	color: #444;
}

table {
	width: 100%;
	border-collapse: collapse;
}

td {
	text-align: center;
}

td:last-child {
	text-align: left;
}

tr:nth-child(4n+2), tr:nth-child(4n+3) {
	background-color: #EFEFEF;
}

tr:first-of-type {
	background-color: #0baefe;
	color: white;
}

tr:not(:first-of-type):hover {
	background-color: #ffd581;
}